include vacancy
include ../../../templates/pug/link
div.vacancy-holder
    +vacancy(
        name=locals.vacancy.name
        description=locals.vacancy.description
        skills=locals.vacancy.skills
        salary=locals.vacancy.salary
        address=locals.vacancy.address
        phone=locals.vacancy.phone)
            +link(href="/vacancies") К списку вакансий
