mixin input-field-settings
    div.input-field-auth-holder.settings-input(id=attributes.id)
        input.fancy-input.no-indent(
            class=attributes.class
            min=attributes.min
            max=attributes.max
            style=attributes.style
            readonly!=attributes.readonly
            autofocus!=attributes.autofocus
            type=attributes.type || "text"
            placeholder=attributes.placeholder
            value=attributes.value)
        block
        div.input-field-auth-holder--line
        div.form-input-err

mixin settings-block
    span.section--title #{attributes.title}
    div.section
            block

mixin settings-item(name)
    div.settings-holder-item
        div.settings-holder-item--header
            h2 #{name}
        div.settings-holder-item--input
            +input-field-settings(readonly!=attributes.readonly)