include ../../../../templates/pug/forms
include ../../../../templates/pug/fields

mixin form(sum)
    +field-holder.company-name.flex-col
        +string-field(readonly=attributes.readonly id=sum.companyName placeholder="Название компании")
            div.field-line
    +field-holder.company-role
        +string-field(readonly=attributes.readonly id=sum.role placeholder="Должность")
            div.field-line
    +field-holder.company-experience
        +field-name("Работали с")
        +string-field(readonly=attributes.readonly type="number" min="1900" max=new Date().getFullYear() id=sum.experienceFrom size="4")
            div.field-line
        +field-name("по")
        +string-field(readonly=attributes.readonly type="number" min="1900" max=new Date().getFullYear() id=sum.experienceTo size="4")
            div.field-line
    +field-holder.company-role
        +field-name("Обязанности")
        +string-field(readonly=attributes.readonly id=sum.responsibilities)
             div.field-line

+form(locals.fields)