include ../../../templates/pug/forms
include ../../../templates/pug/fields

mixin form(sum)
    +field-holder.company-name
        +string-field(readonly=attributes.readonly id=sum.name placeholder="Название резюме")
            div.field-line
    +field-holder.company-role
        +field-name("Дополнительно")
        +string-field(readonly=attributes.readonly id=sum.description)
            div.field-line
    +field-holder.company-experience
        +field-name("Желаемая зарплата от")
        +string-field(readonly=attributes.readonly id=sum.salaryFrom)
            div.field-line
        +field-name("до")
        +string-field(readonly=attributes.readonly id=sum.salaryTo)
            div.field-line
        | &#8381;

+form(locals.fields)(readonly=!locals.canEdit)