mixin input-field
    div.form-input-wrapper(id=attributes.id)
        input.form-input(type=attributes.type || "text" min=attributes.min max=attributes.max placeholder=attributes.placeholder value=attributes.value)
        block
        div.form-input-err

mixin triple-field
    section.section-three-elements
        label.input-name #{attributes.placeholder}
        block
        div.form-input-err

mixin tos-agreement
    span.form-hint Нажимая #{attributes.buttonName || "Регистрация"},<br>Вы подтверждаете, что ознакомлены<br>и полностью согласны<br>c&nbsp;
        a(href="#") условиями использования сайта.