mixin link
    a(href=attributes.href
        onclick="linkGo(\"" + (attributes.href ? attributes.href: window.location.pathname) + "\", event)"
        class=attributes.class
        style=attributes.style
        id=attributes.id)
        block