include ../../../templates/pug/forms
mixin string-field
    div.string-field(id=attributes.id)
        input.string-field--input(type=attributes.type || "text" placeholder=attributes.placeholder value=attributes.value)
        block
        div.string-field--error

mixin string-area
    div.text-field(id=attributes.id)
        textarea.text-field--input(type=attributes.type || "text" placeholder=attributes.placeholder value=attributes.value)
        block
        div.text-field--error

mixin field-holder
    div.field-holder(class=attributes.class)
        block
mixin field-name(name)
    h2 #{name}
div.create-summary-section
    div.create-summary-section--body
        +field-holder.company-name
            +field-name("Название компании")
            +string-field(id=locals.inputFields.companyName.id)
                div.field-line
        +field-holder.company-role
            +field-name("Должность")
            +string-field(id=locals.inputFields.role.id)
                div.field-line
        +field-holder.company-experience
            +field-name("Работали с")
            +string-field(id=locals.inputFields.experienceFrom.id)
                div.field-line
            +field-name("по")
            +string-field(id=locals.inputFields.experienceTo.id)
                div.field-line
        +field-holder.vertical.responsibilities
            h2 Ключевые навыки (разделяя запятой)
            +string-area(id=locals.inputFields.responsibilities.id)
                div.field-line
        div(id=locals.inputFields.submitField.id) submit