include ../../../../templates/pug/forms
mixin signup-form
    span.form-caption Регистрация работодателя
    div.section
        select.form-select(id=attributes.companyTypeId)
            option ООО
            option ПАО
    +input-field(type="text" placeholder="Название компании" id=attributes.companyNameId)
    div.form-checkbox
        +input-field(type="text" placeholder="Сайт" id=attributes.siteId)
        select.form-select(id=attributes.companyTypeId)
            option Мене 50 сотрудников
            option От 51 до 100 сотрудников
            option От 101 до 250 сотрудников
            option От 251 до 500 сотрудников
            option Более 500 сотрудников
        +input-field(type="text" placeholder="Город" id=attributes.cityId)
    span.form-caption Контактное лицо
        span.form-caption-hont (конфиденциально)
    +input-field(type="text" placeholder="Имя" id=attributes.firstNameId)
    +input-field(type="text" placeholder="Фамиилия" id=attributes.lastNameId)
    div.separator
    div.section
        +input-field(type="text" placeholder="Электронная почта" id=attributes.emailId)
        +input-field(type="text" placeholder="Номер телефона" id=attributes.phoneId)