include employer-signup-form

div.main-container
    div.form-container
        form
            +signup-form(companyNameId=locals.companyName.id
                siteId=locals.site.id
                cityId=locals.city.id
                firstNameId=locals.firstName.id
                lastNameId=locals.lastName.id
                emailId=locals.email.id
                phoneId=locals.phone.id
                companyTypeId=locals.companyType.id
                amountOfWorkersId=locals.amountOfWorkers.id
            )
            +tos-agreement(buttonName="Зарегистрировать компанию")
            input.form-submit.employer-signup-form-submit(type="submit" value="Зарегистрировать компанию" id=locals.submitField.id)