include employer-signup-form

mixin tos-agreement
    span.form-hint Нажимая #{attributes.buttonName || "Регистрация"},<br>вы подтверждаете, что ознакомлены<br>и полностью согласны<br>c&nbsp;
        a(href="#") условиями использования сайта.
div.main-container
    div.form-container
        form
            +signup-form(companyNameId=locals.companyName.id
                siteId=locals.site.id
                cityId=locals.city.id
                firstNameId=locals.firstName.id
                lastNameId=locals.lastName.id
                emailId=locals.email.id
                phoneId=locals.phone.id
            )
            +tos-agreement(buttonName="Зарегистрировать компанию")
            input.form-submit.employer-signup-form-submit(type="submit" value="Зарегистрировать компанию" id=locals.submitField.id)