include ../../../templates/pug/avatar
include ../../../templates/pug/phone
include ../../../templates/pug/companyName
include ../../../templates/pug/link
div.search-item.cover
    if(locals.type === 'person')
        +link(href="/users/" + locals.item.id).search-item--link.cover
            +avatar(src=locals.item.avatar noSelect)
            div.person--info
                +company-name(locals.item.name, locals.item.tag)
                if(locals.item.phone)
                    +phone(locals.item.phone)
                if(locals.item.location)
                    div.person--info--location
                        h2 #{locals.item.location}
    else if(locals.type === 'organization')
        +link(href="/organizations/" + locals.item.id).search-item--link.cover
            +avatar(src=locals.item.avatar noSelect)
            div.person--info
                +company-name(locals.item.name, locals.item.tag)
                if(locals.item.phone)
                    +phone(88001234567)
                if(locals.item.location)
                    div.person--info--location
                        h2 #{locals.item.location}
    else if(locals.type === 'vacancy')
        +link(href="/vacancies/" + locals.item.id).search-item--link.cover
            +avatar(src=locals.item.organization.avatar noSelect)
            div.person--info
                +company-name(locals.item.name, locals.item.organization.tag)
                h2 #{locals.item['salary_from']} - #{locals.item['salary_to']} &#8381;
                if(locals.item.phone)
                    +phone(locals.item.phone)