include ../../../../templates/pug/avatar
div.section
    +avatar(src=locals.info.organization.avatar noSelect).small
    div.name
        div.name--name #{locals.info.name}
        div.name--tag ##{locals.info.organization.tag}
if(locals.info.responsibilities && locals.info.responsibilities.length)
    h1.section--title Обязанности
    div.paragraph-holder--text
        each r in locals.info.responsibilities
            div.paragraph !{r.text}
if(locals.info.conditions && locals.info.conditions.length)
    h1.section--title Условия
    div.paragraph-holder--text
        each r in locals.info.conditions
            div.paragraph !{r.text}