include ../../../../templates/pug/forms
include ../../../../templates/pug/fields

mixin form(sum)
    +field-holder.company-name.flex-col
        //+field-name("Учебное заведение")
        +string-field(readonly=attributes.readonly id=sum.institution placeholder="Учебное заведение")
            div.field-line
    +field-holder.company-name.sub.flex-col
        //+field-name("Специальность")
        +string-field(readonly=attributes.readonly id=sum.speciality placeholder="Специальность")
            div.field-line
    div.connected
        +field-holder.company-role
            +field-name("Год окончания")
            +string-field(readonly=attributes.readonly type="number" min="1900" max=new Date().getFullYear() + 10 id=sum.graduated size="4")
                div.field-line
        +field-holder.company-role
            +field-name("Тип")
            +string-field(readonly=attributes.readonly id=sum.type)
                div.field-line

+form(locals.fields)