include ../../../templates/pug/forms
include ../../../templates/pug/fields

mixin form(sum)
    +field-holder.company-name
        +string-field(readonly=attributes.readonly id=sum.name placeholder="Название вакансии")
            div.field-line
    +field-holder.company-role
        +string-field(readonly=attributes.readonly id=sum.description placeholder="Описание")
            div.field-line
    +field-holder.company-experience
        +field-name("Зарплата от")
        +string-field(readonly=attributes.readonly type="number" min="1" max="1000000000" id=sum.salaryFrom)
            div.field-line
        +field-name("до")
        +string-field(readonly=attributes.readonly type="number" min="1" max="1000000000" id=sum.salaryTo)
            div.field-line
        | &#8381;

+form(locals.fields)(readonly=!locals.canEdit)