include ../shared

    //
        gender	string
        birthday	string($date-time)

+settings-block(title='О себе')
    div.input-field-auth-holder.settings-input.sex-container
        div.sex-container--body
            h2 Пол
            div
                select(id=locals.inputFields.gender.id disabled=!locals.canChange)
                    each g in locals.GENDERS
                        option(value=g.value selected=Number(g.value) === Number(locals.user.gender)) !{g.meaning}
                div.input-field-auth-holder--line
    div.birth-tag
        h2 Дата рождения
    div.birth-container
        +input-field-settings(placeholder="день" readonly=!locals.canChange id=locals.inputFields.day.id)
        +input-field-settings(placeholder="месяц" readonly=!locals.canChange id=locals.inputFields.month.id)
        +input-field-settings(placeholder="год" readonly=!locals.canChange id=locals.inputFields.year.id)
    div.submit-button.about-submit(id=locals.inputFields.submitField.id) Сохранить