mixin input-field-auth
    div.input-field-auth-holder(id=attributes.id)
        input.fancy-input(
            class=attributes.class
            style=attributes.style
            autofocus!=attributes.autofocus
            pattern=attributes.pattern
            type=attributes.type || "text"
            placeholder=attributes.placeholder
            value=attributes.value)
        block
        div.input-field-auth-holder--line
        div.form-input-err