mixin summary(s)
    div.summary-holder
        h1 Резюме
        p Имя: #{s.firstName}
        p Фамилия: #{s.lastName}
        p Телефон: #{s.phone}
        p Email: #{s.email}
        p Дата рождения: #{s.birthDate}
        p пол: #{s.sex}
        p Опыт работы: #{s.experience}
        p Образование: #{s.education}

+summary(locals.summary)