include ../../../../templates/pug/forms
include ../../../../templates/pug/fields

mixin form(sum)
    +field-holder.company-name
        +field-name("Учебное заведение")
        +string-field(readonly=attributes.readonly id=sum.institution)
            div.field-line
    +field-holder.company-role
        +field-name("Специальность")
        +string-field(readonly=attributes.readonly id=sum.speciality)
            div.field-line
    +field-holder.company-role
        +field-name("Год окончания")
        +string-field(readonly=attributes.readonly id=sum.graduated)
            div.field-line
    +field-holder.company-role
        +field-name("Тип")
        +string-field(readonly=attributes.readonly id=sum.type)
            div.field-line

+form(locals.fields)