include ../../../templates/pug/forms
div
    +input-field(id=locals.inputFields.companyName.id)
    +input-field(id=locals.inputFields.role.id)
    +input-field(id=locals.inputFields.experience.id)
    +input-field(id=locals.inputFields.responsibilities.id)
    div(id=locals.inputFields.submitField.id) submit