mixin institution(name)
    div.institutions
        h2 #{name}
        block
mixin speciality(name)
    div.speciality
        h2 #{name}
        block
mixin graduated(year)
    div.graduated
        h2 #{year}&nbsp
        block

mixin education
    div.create-summary-section
        div.create-summary-section--body
            +institution(attributes.institution)
            +speciality(attributes.speciality)
            +graduated(attributes.graduated)

+education(
    institution="МГТУ им. Н. Э. Баумана"
    speciality="Техническая физика"
    graduated="2022"
    type="Высшее")
+education(
    institution="Лицей №1580 при МГТУ им. Н. Э. Баумана"
    graduated="2018"
    type="Общее среднее")