include ../../SummaryPage/pug/index
mixin user-summaries(list, events)
    h2 Ваши Резюме
    ul(class="user-summaries")
         each item in list
            +summary(item)
         +showmore(id=events.showMore.id)
mixin date(d)
    p #{d.year}/#{d.month}/#{d.day}
mixin showmore()
    div(class="show-more" id=attributes.id)
        div &#x25BC

mixin summary(s)
    li(class="user-summary")
        article
            p #{s.title}

// each sum in summs
//     +userSummary(sum)
//         a(href="#" data-page="summaries/"+sum.id) Открыть страницу резюме