header
    h1 Список вакансий
main
    -
        var vacancys = [
            {
                id: 1,
                name: "Backend разработчик",
                //organization: "ООО Свекор",
                discription: "Проектировать архитектуру и разрабатывать решения по отказоустойчивости.",
                skills: "-",
                salary: "100 000-120 000 руб.",
                address: "-",
                phoneNumber: "8 919 534 50 03",
            },
            {
                id: 2,
                name: "Ведущий Bitrix-разработчик (PHP Team Lead)",
                //organization: "DDPlanet",
                discription: "Руководство отделом разработки. Развитие инфраструктуры Bitrix-разработки.",
                skills: "-",
                salary: "от 150 000 руб.",
                address: "-",
                phoneNumber: "8 919 534 50 03",
            },
            {
                id: 3,
                name: "Разработчик C++/Qt & QML (middle+ / senior)",
                //organization: "CommuniGate Systems Russia",
                discription: "Занимался разработкой на Qt / С++ приложений с развитым GUI.",
                skills: "-",
                salary: "70 000-110 000 руб.",
                address: "-",
                phoneNumber: "8 919 534 50 03",
            },
            {
                id: 4,
                name: "Senior Full Stack Developer .NET",
                //organization: "CBS Interactive",
                discription: "Разрабатывать сложные многокомпонентные системы, входящие в продукты команды.",
                skills: "-",
                salary: "до 250 000 руб.",
                address: "-",
                phoneNumber: "8 919 534 50 03",
            },
            {
                id: 5,
                name: "Разработчик программного обеспечения",
                //organization: "ИНКОМ-НЕДВИЖИМОСТЬ",
                discription: "Участие в проекте по внедрению внутренней корпоративной системы (риэлти.net).",
                skills: "-",
                salary: "100 000-140 000 руб.",
                address: "-",
                phoneNumber: "8 919 534 50 03",
            }
        ]

    div.list-of-vacancies
        if vacancys.length > 0
            ul
                - for (var i = 0;i < vacancys.length; i++)
                    div.one-vacancy
                        h3= vacancys[i].name
                        h4= vacancys[i].salary
                        li= vacancys[i].discription
                        li= vacancys[i].skills
                        //h5= vacancys[i].organization
                        h5= vacancys[i].address
                        h5=  vacancys[i].phoneNumber
                        input.button-list(type="submit" value="Просмотреть")
        else
            div.no-vacancies
                p Нет ни одной вакансии.
                p Чтобы разместить вакансию на сайте, перейдите по кнопке "Разместить вакансию".
        div.list

