include ../../../templates/pug/avatar
include ../../../templates/pug/phone
include ../../../templates/pug/link

mixin name(name, tag)
    div.name
        span.name--name #{name || ""}&nbsp
        if tag
            span.name--tag ##{tag}&nbsp

if(locals.info.id === locals.currentId)
    div.organization--info--avatar
        +avatar(src=locals.info.avatar id=locals.itemId).medium
else
    div.organization--info--avatar
        if(locals.href)
            +link(href=locals.href)
                +avatar(src=locals.info.avatar id=locals.itemId noSelect).medium
        else
            +avatar(src=locals.info.avatar id=locals.itemId noSelect).medium
div.organization--info--section
    +name(locals.info.name, locals.info.tag)
    if(locals.info.site)
        a(href='//' + locals.info.site target="_blank" _target="blank").person--info--phone #{locals.info.site}
div#chosen_button.chosen-holder