include ../../../templates/pug/avatar
include ../../../templates/pug/phone


mixin name(name, tag)
    span.name--name #{name || ""}&nbsp
    if tag
        span.name--tag @#{tag}&nbsp

if(locals.info.id === locals.currentId)
    +avatar(src=locals.info.avatar id=locals.itemId)
else
    +avatar(src=locals.info.avatar id=locals.itemId noSelect)
+name(locals.info.name, locals.info.tag)
if(locals.info.phone)
    +phone(locals.info.phone)
if(locals.info.site)
    span.site #{locals.info.site}