include ../../../templates/pug/avatar
if locals.dialogs && locals.dialogs.length
    each d in locals.dialogs
        div.chat--item(id=d.elemId)
            div.chat--item--body
                +avatar(noSelect=true src=d.avatar).small
                span #{d.user} @#{d.tag}
else
    div Здесь будут отображаться Ваши диалоги
