include ../../../templates/pug/forms
include ../../../templates/pug/fields

mixin form(sum)
    +field-holder.company-name
        +field-name("Название")
        +string-field(readonly=attributes.readonly id=sum.name)
            div.field-line
    +field-holder.company-role
        +field-name("Описание")
        +string-field(readonly=attributes.readonly id=sum.description)
            div.field-line
    +field-holder.company-experience
        +field-name("Зарплата от")
        +string-field(readonly=attributes.readonly id=sum.salaryFrom)
            div.field-line
        +field-name("До")
        +string-field(readonly=attributes.readonly id=sum.salaryTo)
            div.field-line
        | &#8381;

+form(locals.fields)(readonly=!locals.canEdit)