mixin institution(name)
    div.institutions
        h2 #{name}
        block
mixin speciality(name)
    div.speciality
        h2 #{name}
        block
mixin graduated(year)
    div.graduated
        h2 #{year}&nbsp
        block

mixin education
    +institution(attributes.institution)
    +speciality(attributes.speciality)
    +graduated(attributes.graduated)

+education(
    institution="МГТУ им. Н. Э. Баумана"
    speciality="Техническая физика"
    graduated="2022"
    type="Высшее")